@model E_ticaret_sitesi.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />

<h2>Yeni Departman Sayfası</h2>

<br />

<form class="form-group" method="post">
    @* Html hazır format kulanma Html Helper *@
    @Html.LabelFor(x => x.DepartmanAd)
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>



